{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Passkey auth: Django</title>
  </head>
  <body>

    <div class="container">
      <hanko-auth />
    </div>

    <script>
      const CREATE_USER_ENDPOINT = "{% url 'myapp:create_user' %}";
      const COMPLETE_PROFILE_ENDPOINT = "/complete-profile";
      const HANKO_API_URL = "{{ HANKO_API_URL }}";
    </script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
